[mysqld]
## GENERAL ##
port            = 3306
socket          = /tmp/mysql.sock
datadir         = /data/mysql

## LOG ##
slow-query-log-file              = dev_mysql1-slow.log
table_open_cache = 64
sort_buffer_size = 512K
log-queries-not-using-indexes
log-slow-admin-statements
slow-query-log                   = 1
long_query_time                  = 0.1
binlog_format                    = row
log-bin                          = mysql-bin
expire_logs_days                 = 7
general_log                      = ON
general_log_file                 = /data/mysql/dev_mysql1.log


## CACHE AND LIMIT##
tmp_table_size                   = 256M
max_heap_table_size              = 256M
read_buffer_size                 = 512K
sort_buffer_size                 = 512K
max_connections                  = 1000
max_connect_errors               = 100000
open-files-limit                 = 8192
table_open_cache                 = 4096
query_cache_size                 = 64M
query_cache_limit                = 2M
thread_cache_size                = 500

## INNODB ##
innodb_data_home_dir             = /data/mysql
innodb_log_group_home_dir        = /data/mysql
innodb-log-files-in-group        = 2
innodb-file-per-table            = 1
innodb-log-file-size             = 100M
innodb_buffer_pool_size          = 2G
innodb_log_buffer_size           = 16M
innodb_flush_log_at_trx_commit   = 1
innodb_lock_wait_timeout         = 50


## MYISAM ##
key_buffer_size                  = 30M


## SAFETY ##
skip-name-resolve
skip-symbolic-links
skip-external-locking
skip-ssl
max_allowed_packet               = 16M
wait_timeout                     = 3600
interactive_timeout              = 3600
binlog_cache_size                = 4M

server-id       = 1

## CHATSET ##
character_set_server = utf8

## MySQL5.7 ##
explicit-defaults-for-timestamp
log_timestamps                   = SYSTEM
slave_parallel_workers           = 4

[mysqld_safe]
mysqld-safe-log-timestamps       = SYSTEM
